<div class="container m-5 p-3">
  <h1>All Tasks</h1>
  <%= link_to 'Add new task', new_task_path %>
  <% @tasks.each do |task| %>
    <h5><%= task.completed %> - <%= link_to task.title, task_path(task) %></h5>
  <% end %>
</div>
